<!-- service -->
<script>

    var foto = new Array();
    var index = -1;
    var tamanio = 1;
    $(function () {
        $(".custom-file-input").on("change", function (e) {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            //console.log(this.files);
            addImage(e);
        });

        function addImage(e) {
            var file = e.target.files[0],
                imageType = /image.*/;

            if (!file.type.match(imageType))
                return;

            var reader = new FileReader();
            reader.onload = fileOnload;
            reader.readAsDataURL(file);
        }

        function fileOnload(e) {
            var result = e.target.result;
            $('#imagenArticulo').attr("src", result);
        }

        $("#btnagregar").click(function () {

            if (($("#customFileLang").val()) != "") {
                index++;
                var path = jQuery("#imagenArticulo").attr('src');
                var newPath = path.replace('file:///home/angel/Descargas/', '');
                console.log(newPath);
                if (foto.includes(newPath)) {
                    /* OK, value exists! */
                    index--;
                    var mensaje = '<div class="alert alert-danger" style="font-size: 10px">';
                    mensaje += "Imagen ya agregada";
                    mensaje += "</div>";
                    $("#error").show();
                    $("#error").html(mensaje);
                    $("#error").hide(4000);
                } else {
                    //var path = $('img[alt="imagenArticulo"]').attr('src');
                    foto[index] = newPath;
                    var html = '';
                    html += '<img src="' + foto[index] + '" width="100" height="150" id="foto">';
                    html += '<div class="form-group">';
                    html += '<button  class="btn btn-danger btn-sm" onclick="atras()"> << </button>';
                    html += '<button  class="btn btn-danger btn-sm" onclick="adelante()"> >>  </button>';
                    html += '</div>';
                                      for (var i = 0; i < foto.length; i++) {
                                            console.log("src: " + foto[i]);
                                           /*html += ' <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"data-title="This is my title" data-caption="Some lovely red flowers" data-image="' + foto[i] + '" data-target="#image-gallery">';
                                            html += '  <img class="img-responsive" src="' + foto[i] + '" alt="Short alt text"   width="50" height="60"> ' ;
                                           html += '</a>';*/
                                        }
                    $("#srcimagen").html(html);
                }
            }

        });
    });
      function atras() {
          console.log("atras");
            tamanio++;
            if (tamanio > foto.length - 1) {
                tamanio = 1;
            }
            $('#foto').attr("src", foto[tamanio]);
        };
       function adelante() {
           console.log("adelante");
            tamanio--;
            if (tamanio < 1) {
                tamanio = foto.length - 1;
            }
            $('#foto').attr("src", foto[tamanio]);
        };
</script>
<section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-2">Servicio Jardineria</h3>
        <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarservicio">
                Agregar
            </button>
        </div>
         <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> 
  </div>
</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="images/ab1.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Vegatables
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="images/ab2.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Fresh Fruits
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="images/ab3.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Garden Tillage
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="images/ab4.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Awesome Wheats
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="images/ab1.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Garden Tillage
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="images/ab2.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Agro Machinery
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//service -->

<!--Modal registro servicio--->
<div class="modal fade" id="agregarservicio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-center">
                <h4 class="modal-title w-100 font-weight-bold">Agregar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body mx-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-8 col-xs-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="email" class="form-control" name="nombrejar" id="nombrejar"
                                    placeholder="Nombre servicio">
                            </div>
                            <div class="form-group">
                                <label>Descripci&oacute;n</label>
                                <textarea class="form-control" name="descripcionjar" id="descripcionjar"></textarea>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" id="srcimagen">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card border-primary mb-3 " style="width: 18rem;">
                                        <div class="card-header bg-success mb-3">
                                            <h3>Cargar Imagen</h3>
                                        </div>
                                        <div class="card-body">
                                            <div id="error"></div>
                                            <img src="images/jardin.jpg" id="imagenArticulo" class="card-img-top"
                                                alt="..." style="max-width:100%;width:auto;height:auto;">
                                        </div>
                                        <div class="card-footer">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" multiple="true"
                                                        id="customFileLang" lang="es">
                                                    {{!-- para cmabiar el nombre de archivos se utiliza  data-browse="Elegir">Imagen --}}
                                                    <label class="custom-file-label" for="customFileLang"
                                                        data-browse="Elegir">Imagen</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-info" id="btnagregar" data-tooltip="tooltip"
                                                        data-placement="left" title="Agregar Imagen" type="button"><i
                                                            class="fa fa-camera-retro"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{!-- finaliza modal registro --}}