  <!-- //banner -->
  <div class="banner-left-side" id="home">
    <!-- header -->
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <h1>
            <a href="/">VV</a>
          </h1>
        </div>
        <div class="sub-headder position-relative">
          <h6>
            <a href="/">Viveros
              <br>Valverde</a>
          </h6>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active">
            <a href="/">Inicio</a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="/Administra/clientes">Administrar Persona</a>
          </li>
          <li  >
            <a class="nav-link" href="/Administra/Servicios">Administrar Servicios</a>
          </li>
          <li >
            <a class="nav-link" href="/Administra/Articulo">Administrar Articulo</a>
          </li>
          <li>
            <a href="/Servicios">Servicio Jardineria</a>
          </li>
            <li>
              <a href="/Articulo">Flores y Plantas</a>
            </li>
            {{!-- <li>
              <a href="#blog">Blog</a>
            </li>
            <li>
              <a href="/contacto">Contacto</a>
            </li> --}}
        </ul>
      </nav>
      <!-- //nav -->
    </div>
    <!-- //header -->
      {{!-- <div class="jumbotron">
        <div class="container"> --}}
           {{> (lookup . 'fragmento') }}
        {{!-- </div>
     </div> --}}
  <!--footer-copy-right -->
  <footer class="bottem-wthree-footer text-center py-md-4 py-3">
    <p>
      © 2019 Viveros Valverde. | Todo para su jardin
      <a href="#" target="_blank">Viveros</a>
    </p>
  </footer>
  <!--//footer-copy-right -->
