<script>
  $(document).ready(function () {
    refrescar();
    refrescarServicio();
  });

</script>
<!-- //banner -->
<div class="banner-left-side" id="home">
  <!-- header -->
  <div class="headder-top">

    <!-- nav -->
    <nav>
      <div id="logo">
        <h1>
          <a href="/">VV</a>
        </h1>
      </div>
      <div class="sub-headder position-relative">
        <h6>
          <a href="/">Viveros
            <br>Valverde</a>
        </h6>
      </div>
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop">
      <ul class="menu mt-2">
        <li class="active">
          <a href="/">Inicio</a>
        </li>

        <li>
          <a href="/Servicios">Servicio Jardineria</a>
        </li>
        <li>
          <a href="/Articulo">Flores y Plantas</a>
        </li>
        <li>
          <div class="noti__item js-item-menu">
            <a href="/carrito"><i class="fas fa-cart-plus" style="color:rgb(179, 30, 25)"></i><span class="quantity" id="cant"> </span></a>
          </div>
        </li>
        {{#if usuario.persona}}
        <!-- User Account: style can be found in dropdown.less -->
        <li class="nav-item dropdown user-menu">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <img src="/images/user.png" style="max-width: 30px; max-height: 30px" class="user-image img-circle elevation-2" alt="User Image">
            <span class="d-none d-md-inline">
              {{#if usuario.persona}}
              {{usuario.persona}}
              {{/if}}
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <!-- User image -->
            <li class="user-header bg-primary">
              <img src="/images/user.png" class="img-circle elevation-2" alt="User Image">
              <h3 class="text-center text-white">
                  <small>
                     <strong>
                    Bienvenido
                     </strong>
                  </small>
              </h3>
            </li>
            <li class="user-body">
              <div class="row">

              </div>
            </li><br>
            <!-- Menu Footer-->
            <li class="user-footer">
              <a href="/Perfil" class="btn btn-success btn-flat">Perfil</a>
              <a href="/cerrar_sesion" class="btn btn-danger btn-flat float-right">Salir</a>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        {{else}}
        <li>
          <a href="/Inicio/Sesion">Inicio Sesion</a>
        </li>
        {{/if}}

      </ul>

    </nav>
    <!-- //nav -->

  </div>
  <!-- //header -->
  {{!-- <div class="jumbotron">
        <div class="container"> --}}
  {{> (lookup . 'fragmento') }}
  {{!-- </div>
     </div> --}}
</div>
<!--footer-copy-right -->
<footer class="bottem-wthree-footer text-center py-md-4 py-3">
  <p>
    © 2019 Viveros Valverde. | Todo para su jardin
    <a href="#" target="_blank">Viveros</a>
  </p>
</footer>
<!--//footer-copy-right -->
<div class="header-button">