<script type="text/javascript" src="/javascripts/factura.js"></script>
<script type="text/javascript">

    $(function () {
        fechaActual();
    });

</script>
{{> 'vistaAdministrador/Factura/modalArticulo'}}
<!-- Main content -->
<div class="input-group col-md-4">
    <input type="text" name="texto" id="texto" class="form-control" placeholder="Buscar">
    <div class="input-group-append">
        <button class="btn btn-success" id="buscar"><i class="fa fa-search" aria-hidden="true"> Buscar</i></button>
    </div>
</div>
<div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-globe"></i> Factura. #{{nro}}
                <small class="float-right">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Fecha:</span>
                        <input type="text" class="form-control-sm col-md-4" id="fechaActual" readonly>
                    </div>
                </small>
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-6 ">
            <strong>Datos Cliente</strong>
            <address>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Cedula:</span>
                        <input type="text" class="form-control-sm" placeholder="Cedula" name="txtcedulaF" id="txtcedulaF" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Nombres:</span>
                        <input type="text" class="form-control-sm" placeholder="Nombres" name="txtnombresF" id="txtnombresF" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Dirección:</span>
                        <input type="text" class="form-control-sm" placeholder="Dirección" name="txtdireccionF" id="txtdireccionF" readonly>
                    </div>
                </div>
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 ">
            <strong></strong><br>
            <address>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Telefono:</span>
                        <input type="text" class="form-control-sm" placeholder="Dirección" name="txttelefonoF" id="txttelefonoF" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Correo:</span>
                        <input type="text" class="form-control-sm" placeholder="Dirección" name="txtcorreoF" id="txtcorreoF" readonly>
                    </div>
                </div>
            </address>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-dark">
                    <div class="text-center font-weight-bold">
                        <strong>DETALLE FACTURA </strong> <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#listaProducto"><i class="far fa-plus-square"></i>Agregar producto</button>
                    </div>
                </div>
                <div class="card-footer">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>PRODUCTO</th>
                                <th>CANT.</th>
                                <th>STOCK</th>
                                <th>PRECIO UNIT.</th>
                                <th>PRECIO TOTAL.</th>
                                {{!-- <th>Accion</th> --}}
                            </tr>
                        </thead>
                        <tbody id="tbodyFac">
                            <!----Cargar datos de los productos------>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-6">
            <p class="lead">
                Métodos de pago:</p>
            <img src="/assets/dist/img/credit/visa.png" alt="Visa">
            <img src="/assets/dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="/assets/dist/img/credit/american-express.png" alt="American Express">
            <img src="/assets/dist/img/credit/paypal2.png" alt="Paypal">

            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                Texto
            </p>
        </div>
        <!-- /.col -->
        <div class="col-6">

            <div class="table-responsive">
                <table class="table table-sm">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td id="subtotal"></td>
                    </tr>
                    <tr>
                        <th>Descuento</th>
                        <td id="descuento"></td>
                    </tr>
                    <tr>
                        <th>IVA 12%:</th>
                        <td id="iva"></td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td id="total"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-12">
            <button onclick="window.print();" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
            <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Metodos de Pago
            </button>
            <button type="button" class="btn btn-primary float-right" onclick="guardarfactura()" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generate PDF
            </button>
        </div>
    </div>
</div>
<!-- /.invoice -->