<div class="modal fade" id="detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 20px">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title font-weight-bold" id="exampleModalScrollableTitle">Detalle Servicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <p>
                            <img src="/images/g1.jpg" alt="Image" class="img-fluid">
                        </p>
                    </div>
                    <div class="col-lg-5  align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span id="nombre"></span>
                        </h2>
                        <p class="mb-5"><strong class="text-black d-block">Tamaño:</strong> 8:00 am — 9:30am</p>
                        <p>Modi sit dolor repellat esse! Sed necessitatibus itaque libero odit placeat nesciunt, voluptatum totam facere.</p>
                        <p>
                            <a href="#" class="btn btn-primary rounded-0 btn-lg px-5">Contratar</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>