
<section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-2">{{title}} </h3>
        <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
          
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> 
            </div>
        </div>
        <div class="row">
<!--Inicio foreach-->
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="/images/ab1.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Vegatables
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                     <button type="button" class="btn btn-outline-primary">Guardar</button>
                </div>
               
            </div>
            <!--Finaliza foreach-->
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="/images/ab2.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Fresh Fruits
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="/images/ab3.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Garden Tillage
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="/images/ab4.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Awesome Wheats
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="/images/ab1.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Garden Tillage
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="/images/ab2.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Agro Machinery
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//service -->

