<!DOCTYPE html>
<html lang="es">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!--Template css-->
  {{!-- <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="/assetsClie/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/assetsClie/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/assetsClie/vendors/linericon/style.css">
  <link rel="stylesheet" href="/assetsClie/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assetsClie/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/assetsClie/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/assetsClie/vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="/assetsClie/css/style.css">

  {{!-- estilo desde la carpeta stylesheets --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel="stylesheet" href="/assetsClie/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assetsClie/css/jquery-ui.css">
  <link rel="stylesheet" href="/assetsClie/css/style_1.css">

  {{!-- script carrito de compras --}}

  <link href="/assetsClie/css/font-face.css" rel="stylesheet" media="all">
  <link href="/assetsClie/vendors/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="/assetsClie/vendors/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
  <link href="/assetsClie/vendors/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">


  <script src="/assetsClie/vendors/bootstrap-4.1/popper.min.js"></script>

  <!-- Vendor JS       -->
  <script src="/assetsClie/vendors/wow/wow.min.js"></script>
  <script src="/assetsClie/vendors/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/assetsClie/vendors/chartjs/Chart.bundle.min.js"></script>

  <link href="/assetsClie/vendors/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="/assetsClie/css/theme.css" rel="stylesheet" media="all">

  {{!-- script carrito de compras --}}

  {{!-- script inicio de proyecto --}}


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
  <script type="text/javascript" src="/javascripts/utilidadesCliente.js"></script>
  <script type="text/javascript" src="/javascripts/administrador.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<style>
  label.error {
    float: none;
    color: rgb(0, 0, 0);
    padding-left: .5em;
    vertical-align: middle;
    font-size: 12px;
  }
</style>

<body>
  {{{body}}}
</body>






<!--Template Java script-->
{{!-- <script src="/assetsClie/vendors/jquery/jquery-3.2.1.min.js"></script> --}}
{{!-- <script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script> --}}
<script src="/assetsClie/vendors/skrollr.min.js"></script>
<script src="/assetsClie/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/assetsClie/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/assetsClie/vendors/nouislider/nouislider.min.js"></script>
<script src="/assetsClie/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/assetsClie/vendors/mail-script.js"></script>
<!--Template Java script-->

</html>