<script>
$(document).ready(function() {
    mostrar();
});
</script>
<link rel="stylesheet" type="text/css" href="/assetsClie/styles/cart.css">
<br><br><br><br>
<div class="container">
    <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="cart_info">
                <div class="container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="mr-2 fa fa-align-justify"></i>
                                        <strong class="card-title" v-if="headerText">Carrito</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive m-b-40">
                                            <table class="table table-borderless table-data3" id="carrito">
                                                <thead>
                                                    <tr>
                                                        <th>Cantidad</th>
                                                        <th>Descripción</th>
                                                        <th>Precio Unitario</th>
                                                        <th>Precio Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="carritoDatos">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- </div>
                        <div class="row row_extra"> --}}
                            <div class="col-lg-4">
                                <!-- Coupon Code -->
                                <div class="coupon">
                                    <div class="section_title">Codigo de descuento</div>
                                    <div class="section_subtitle">Ingrese su código de cupón</div>
                                    <div class="coupon_form_container">
                                        <form action="#" id="coupon_form" class="coupon_form">
                                            <input type="text" class="coupon_input" required="required">
                                            <button class="button coupon_button"><span>Aplicar</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 offset-lg-2">
                                <div class="cart_total">
                                    <div class="section_title">Total de compra</div>
                                    <div class="section_subtitle">Informacion Final</div>
                                    <div class="cart_total_container">
                                        <ul>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_total_title">Subtotal</div>
                                                <div class="cart_total_value ml-auto">$790.90</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_total_title">Total</div>
                                                <tr>
                                                    <th>Total:</th>
                                                    <td id="total"></td>
                                                </tr>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="button checkout_button"><a href="#">Comprar</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>