<script>
    $(function () {
        var extensionesValidas = ".png, .gif, .jpeg, .jpg";
        // Cuando cambie #fichero
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            $('#imagenServicio').attr('src', '');
            if (validarExtension(this)) {
                verImagen(this);
            }
        });

        // Validacion de extensiones permitidas
        function validarExtension(datos) {
            var ruta = datos.value;
            var extension = ruta.substring(ruta.lastIndexOf('.') + 1).toLowerCase();
            var extensionValida = extensionesValidas.indexOf(extension);
            if (extensionValida < 0) {
                var mensaje = '<div class="alert alert-danger" style="font-size: 15px">';
                mensaje += "La extensión no es válida Su fichero tiene de extensión: ." + extension;
                mensaje += '</div>';
                $("#errorExt").show();
                $("#errorExt").html(mensaje);
                $("#errorExt").hide(6000);
                $('#imagenServicio').attr('src', '/images/not-found.png');
                $('#fileAgregar').val("");
                return false;
            } else {
                return true;
            }
        }
        // Vista preliminar de la imagen.
        function verImagen(datos) {
            if (datos.files && datos.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagenServicio').attr('src', e.target.result);
                };
                reader.readAsDataURL(datos.files[0]);
            }
        }
    });
</script>
<!--Modal registro servicio--->
<div class="modal fade" id="agregarServicio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background: #EFF7F1">
            <div class="modal-header bg-dark">
                <h4 class="modal-title font-weight-bold">Registrar Servicio <i class="fas fa-oil-can"></i></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formulario" enctype="multipart/form-data" method="POST" action="/Administra/Servicios/Guardar">
                <div class="modal-body mx-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-8 col-xs-12">
                            <div class="form-group col-md-8">
                                <label class="control-label">Nombre</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-info"></i></span>
                                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre servicio" onkeypress="return validaletra(event)">
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label">Medida</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-text-height"></i></span>
                                    <input type="text" class="form-control" name="medida" id="medida" placeholder="Medida" onkeypress="return validaNumeroReales(event)">
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label">Descripci&oacute;n</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-info"></i></span>
                                    <textarea class="form-control" name="descripcion" id="descripcion" onkeypress="return validaletra(event)" placeholder="Descripci&oacute;n"></textarea>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label">Precio</label>
                                <div class="input-group">
                                    <span class="input-group-text"> <i class="fas fa-dollar-sign"></i></span>
                                    <input type="text" class="form-control" name="precio" id="precio" placeholder="Precio" onkeypress="return validaNumeroReales(event)">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-3">

                                    <div class="card border-primary mb-3 " style="width: 18rem;">
                                        <div id="errorExt"></div>
                                        <div class="card-header bg-success text-center mb-3">
                                            <h4>Foto de Portada</h4>
                                        </div>
                                        <div class="card-body">
                                            <img src="/images/jardin.jpg" id="imagenServicio" class="card-img-top" alt="..." style="max-width:100%;width:auto;height:auto;">
                                        </div>
                                        <div class="card-footer">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" multiple="true" id="fileAgregar" name="fileAgregar" lang="es">
                                                {{!-- para cmabiar el nombre de archivos se utiliza  data-browse="Elegir">Imagen --}}
                                                <label class="custom-file-label" for="fileAgregar" data-browse="Elegir">Imagen</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{!-- finaliza modal registro --}}