<!-- banner -->
<div class="main-banner text-center">
  <div class="container">
    <div class="social-icons mb-lg-4 mb-3">
      <ul>
        <li class="facebook">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li class="twitter">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="rss">
          <a href="#">
            <span class="fa fa-rss"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="banner-right-txt">
      {{> msg}}
      <h5 class="mb-sm-3 mb-2">Bienvenido a</h5>
      <h4>Viveros Valverde </h4>
    </div>
    <div class="slide-info-txt">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt utadipiscing elit sed
        do eiusmod tempor incididunt Lorem</p>
    </div>
  </div>
</div>
<!-- //banner -->